In [2]:
import pandas as pd

In [80]:
data = [
    {
        "dataset_index": 0,
        "method": "noise_interpolation",
        "override_args": {
            "alpha": 0.5,
        },
        "stream": "",
        "statistics": "var",
    },
    {
        "dataset_index": 0,
        "method": "noise_interpolation",
        "override_args": {
            "alpha": 0.5,
        },
        "statistics": "mean",
    },
]
project_data = pd.DataFrame(
    columns=[
        "dataset_index",
        "label",
        "method",
        "override_args",
        "stream",
        "statistics",
        "data_path",
        "data_exists",
    ],
    data=data,
)

,dataset_index,label,method,override_args,stream,statistics
0,0,NaN,noise_interpolation,{'alpha': 0.5},NaN,var
1,0,NaN,noise_interpolation,{'alpha': 0.5},NaN,mean

                                           data_path  data_exists
0  outputs/project_data/0/nan/noise_interpolation...        False
1  outputs/project_data/0/nan/noise_interpolation...        False

In [92]:
file_data["data_path"][0]

'outputs/project_data/0/nan/noise_interpolation/alpha=0.5/nan/var.npy'